* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

body, html {
  background: #f1f3f5;
  height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

#root {
  all: inherit;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-field {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

input[type="submit"]:disabled {
  cursor: not-allowed;
}

.btn-loader {
  transform: translateX(-60px);
}

.loader {
  max-width: 1232px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  transform: translateY(-64px);

  div {
    margin: 0 auto;
  }
}

#nprogress .bar {
  background: #6756b3;
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #6756b3, 0 0 5px #6756b3;
}

.copy-tooltip {
  background: #668090 !important;
  font-size: 9px;
  padding: 2px 10px;
  opacity: 1;
}

.place-top:after {
  border: none !important;
  background: #668090 !important;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(15px) }
  50% { opacity: 1 }
  100% { opacity: 0; transform: translateY(0) }
}

.tip {
  font-size: 10px;
  color: #fff;
  background: #668090;
  padding: 4px 10px;
  border-radius: 2px;
  position: absolute;
  right: 0;
  opacity: 0;
  animation: 1s fadeInOut;
}
