* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

body, html {
  background: #f1f3f5;
  height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

#root {
  all: inherit;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-field {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

input[type="submit"]:disabled {
  cursor: not-allowed;
}

.btn-loader {
  transform: translateX(-60px);
}

.loader {
  max-width: 1232px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  transform: translateY(-64px);

  div {
    margin: 0 auto;
  }
}

#nprogress .bar {
  background: #6756b3;
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #6756b3, 0 0 5px #6756b3;
}
